.carousel {
  width: 900px;
  height: 500px;
  margin: auto;
}

@media (max-width: 900px) {
  .carousel {
    width: auto;
    height: auto;
  }
}
.carousel-indicators li {
  background-color: darkgray;
}

.carousel-item {
  -webkit-transition: -webkit-transform 3s ease-in-out !important;
  -o-transition: -o-transform 3s ease-in-out !important;
  transition: transform 3s ease-in-out !important;
}
/*
.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
*/
